.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.poster{
    text-align: center;
}


#poster1, #poster2, #poster3{
    height: 500px;
   
}

.display-poster:hover{
    transform: scale(1.1);
    
}

.container-poster {
    margin-top: 130px;
}

.title {
    font-size: 80px;
}

.columns {
    padding: 1px;
}
